.footer{
    background-color: #1A374D;
    align-items: center;
    justify-content: center;
    text-align: center;
    .footer__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .footer__logo{
            text-align: center;
            color: white;
            margin: 40px;
        }
        .footer__logo img{
            height: 100px;
            width: 100px;
            margin: 10px;
            border-radius: 50px;
        }
        .footer__redes{
            font-size: 0.85em;
            text-align: center;
            color: white;
            .footer__redes__icon i{
                font-size: 30px;
                margin: 10px;
                color: white;
            }
            .footer__redes__icon i:hover{
                color: $color-links;
            }
        }
    }
    .footer__copy{
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding: 5px;
        font-size: 0.75em;
    }
}
