@import "variables.scss";
@import "mixins.scss";
@import "maps.scss";


.hero{
    @include flex-row-between;
    text-align: center;
    height: 85vh;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to bottom, #b1d0e0, #c9daea, #dee5f1, #f0f2f8, #ffffff);
    .textohero{
        @include flex-row-column;
        text-align: center;
        margin: 20px;
        p{
            display: block;
            white-space: nowrap;
            border-right: 4px solid;
            width: 30.5ch;
            animation: typing 8s steps(36), blink .5s infinite step-end alternate;
            overflow: hidden;
        }

        @keyframes typing {
            from { width: 0}}
            
        @keyframes blink {
            50% { border-color: transparent}} 

        .hero__boton{
            text-decoration: none;
            background-color: lightblue;
            color: black;
            border-color: black;
            border-style: solid;
            border-radius: 20px;
            margin: 20px;
            width: 100px;
            padding: 10px;
            border-width: 1px;
            font-size: 1.25em;
        }
        .hero__boton:hover{
            background-color: rgb(155, 193, 204);
            color: #000000;
        }
        
    }
    .imghero{
        margin: 20px;
        animation: slide 2s infinite alternate-reverse;
        width: 100%;
        object-fit: cover;
        img{
            height: 100%;
            width: 100%;
        }
        @keyframes slide{
            to{
                transform: translateY(-50px);
            }
        
            from{
                transform: translateY(50px);
            }
        }
    }

}

/* seccion pag sobremi */

.sobremi{
    text-align: center;
    .sobremi__container__grid{
        text-align: center;
        justify-items: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin: auto;
        grid-gap: 10px;
        .sobremi__img{
            height: 75%;
            width: 75%;
            box-shadow: $sombras;
            img{
                height: 100%;
                width: 100%;
            }
        }
        
        .sobremi__info{
            @extend .sobremi__img;
            padding: 10px;
            text-align: center;
            overflow: auto;
            p{
                margin-top: 10px;
            }
        }
    }
}

/* seccion de conocimiento */
.conocimiento{
    text-align: center;
    align-items: center;
    justify-content: center;
    .gridcontainerconocimiento{
        display: grid;
        grid-template-areas: "cono skills"
                            "curso skills";
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr ;
        width: 95%;
        grid-gap: 20px;
        margin:  20px auto;
        .conocimiento__container__formal{
            grid-area: cono;
            border: $borde-grueso;
            display: inline-block;
        }
        
        .conocimiento__container__curso{
            grid-area: curso;
            border: $borde-grueso;
        }
        
        .conocimiento__container__skills{
            grid-area: skills;
            border: $borde-grueso;
            text-align: center;
            .container__skills{
                margin: 10px;
                @include flex-row-column;
                align-items: flex-start;
                .skills{
                    display: grid;
                    grid-template-columns: 0.35fr 2fr;
                    width: 100%;
                    align-items: center;
                    img{
                        display: inline-block;
                        width: 70px;
                        height: 70px;
                        margin: 0;
                        padding: 0;
                    } 
                    .progress{
                        height: 1.7rem;
                        border-radius: 0.75rem;
                        .progress-bar{
                            background-color: #038bbb;
                        }
                        .progress-bar-striped{
                            background-image: linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);;
                        }
                    }  
                }    
            }
        }
    }
}

/* seccion de portafolio */

.portafolio{
    text-align: center;
    .gridcontainerportafolio{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: 50px auto;
        grid-gap: 10px;
        .portafolio__trabajos{
            cursor: pointer;  
            margin: 25px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            .hoverimg{
                @include flex-row-column;
                text-align: center;
                position: absolute;
                bottom: 0;
                top: 50%;
                left: 50%;
                background: rgba(0, 0, 0, 0.747);
                color:white;
                width: 100%;
                height: 0;
                transition: .5s ease;
                overflow: hidden;
                transform: translate(-50%, -50%);
                i{
                    margin-right: 5px;
                }
                a{
                    display: flex;
                    justify-content: center;
                    background: gray;
                    color: white;
                    text-decoration: none;
                    border-radius: 50px;
                    border: $borde-fino;
                    width: 100px;
                    margin: 10px;
                    padding: 5px;
                    font-size: 0.75em;
                }
                a:hover{
                    color: #000000;
                    background: rgb(87, 87, 87);
                }
            }
        }
    }
    .portafolio__trabajos:hover .hoverimg{
        height: 100%;
        cursor: pointer;
        }
    
}


/* seccion de contacto */
.contacto{
    text-align: map-get($estilos ,centro);
    align-items: map-get($estilos ,centro);;
    justify-content: map-get($estilos ,centro);;
    color: map-get($estilos ,color);;
    background-image: linear-gradient(to bottom, #b1d0e0, #c9daea, #dee5f1, #f0f2f8, #ffffff);
    .contacto__form{
        background-color: #6998AB;
        margin: 10px 0 50px 0;
        display: inline-block;
        border-radius: 20px;
        border: 2px #000000 solid;
        input{
            margin: 10px;
            border: $borde-fino;
            width: 95%;
            height: 50px;
            display: inline-block;
            padding: 10px;
            color: black;
            background-color: white;
        }
        input::placeholder, textarea::placeholder{
            color: black;
        }
        input[type=submit],input[type=reset]{
            background-color: white;
            width: 95%;
            margin: 10px;
            cursor: pointer;
            justify-content: center;
            border: $borde-fino;
            border-radius: 50px;
            color: black;
            font-family: 'Montserrat';
        }
        input[type=submit]:hover,input[type=reset]:hover{
            background-color: lightblue;
        }
        textarea{
            display: block;
            margin: 10px auto;
            width: 95%;
            height: 200px;
            font-family: sans-serif;
            padding: 10px;
            border: $borde-fino;
            resize: none;
            color: black;
            background-color: white;
            font-family: 'Montserrat';
        }
    }
}



