@media screen and (max-width: 480px){

    .textohero{
        font-size: 0.90em;
        position: absolute;
        z-index: 10;
        p{
            font-size: 1em;
        }
    }

    .imghero{
        position: relative;
    }

    .servicios h1{
        font-size: 2.5em;
    }

    .servicios .gridcontainerservicios{
        grid-template-columns: 1fr;
    }


    .portafolio .gridcontainerportafolio{
        grid-template-columns: 1fr;
    }

    .sobremi .sobremi__container__grid{
        flex-wrap: wrap;
        justify-content: center;
    }

    .sobremi .estudios__container{
        text-align: center;
        align-items: center;
    }

    .sobremi .conocimiento__container__skills .container__skills{
        grid-template-columns: 1fr;
    }

    .contacto h1{
        font-size: 3.0em;
    }
    .contacto .contacto__form{
        width: 100%;
    }

    }

    /* media query tablet */

@media screen and (min-width: 481px) and (max-width: 850px){
    .textohero{
        font-size: 0.90em;
        position: absolute;
        z-index: 10;
        p{
            font-size: 1.5em;
        }
    }

    .imghero{
        position: relative;
    }

    .servicios h1{
        font-size: 3.5em;
    }

    .servicios .gridcontainerservicios{
        grid-template-columns: 1fr 1fr;
    }

    .portafolio .gridcontainerportafolio{
        grid-template-columns: 1fr;
    }

    .sobremi .sobremi__container__grid{
        flex-wrap: wrap;
        justify-content: center;
    }

    .sobremi .estudios__container{
        text-align: center;
        align-items: center;
    }

    .sobremi .conocimiento__container__skills .container__skills{
        grid-template-columns: 1fr;
    }

    .contacto h1{
        font-size: 4.0em;
    }

    .contacto .contacto__form{
        width: 90%;
    }

    }


@media screen and (min-width:1800px){
    h1{ font-size: 4.5em;}
    h2{ font-size: 3.7em;}
    h3{ font-size: 3em;}
    p{ font-size: 2.25em; margin: 0;}
    ul{ list-style: none;}
    li{ font-size: 1.25em;}
    .footer .footer__container .footer__redes .footer__redes__icon i{
        font-size: 50px;
    }
    .contacto .contacto__form input{
        font-size: 1.5em;
    }
    .contacto .contacto__form textarea{
        font-size: 1.5em;
    }

    .contacto .contacto__form input[type=submit], .contacto .contacto__form input[type=reset]{
        padding: 0px;
    }
    .portafolio .gridcontainerportafolio .portafolio__trabajos .hoverimg a{
        font-size: 1em;
        i{
            font-size: 1.5em;
        }
    }
    .hero .textohero .hero__boton{
        font-size: 2.5em;
    }
    .sobremi .dot{
        width: 80px;
        height: 80px;
    }
    .sobremi .dot i{
        font-size: 50px;
    }
    .header .nav-link{
        font-size: 1.5em;
    }
    }